{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-article{% endblock %}

{% block content %}
    <div class="container">
        <!--  title  -->
        <div>
            <h1 class="p-font">{{ page.title }}</h1>
        </div>

        <!--  author info: top  -->
        <div class="author">
            <div class="v-center">
                {% image page.author_image width-60 %}
            </div>
            <div class="v-center">
                <h3 class="p-font">{{ page.author_title }}</h3>
                <p class="p-font p-italic p-grey">{{ page.author_bio }}</p>
            </div>
        </div>
    </div>

    <div class="banner">
        {% image page.banner_image width-1000 class='banner' %}
    </div>

    <!--  body: stream blocks  -->
    <div class="container author p-font p-grey">
        <section>
            {% for block in page.body %}
                <div>
                    {% include_block block %}
                </div>
            {% endfor %}
        </section>
    </div>

    <!--  author info: bottom  -->
    <div class="container">
        <!--  author label  -->
        <h4>AUTHOR</h4>
        <div class="author">
            <div class="v-center">
                <h3 class="p-font">{{ page.author_title }}</h3>
                <p class="p-font p-italic p-grey">{{ page.author_bio }}</p>
            </div>
        </div>
    </div>
{% endblock content %}