@media screen and (min-width: 769px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 769px) {
    header img {
        height: 50px;
        width: auto;
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (min-width: 769px) {
    header {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 769px) {
    footer {
        text-align: center;
        margin: 0 auto;
        margin-top: 100px;
    }
}

@media screen and (min-width: 769px) {
    .container {
        justify-content: center;
        width: 800px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 769px) {
    .container h1 {
        margin: 10px auto;
    }
}

@media screen and (min-width: 769px) {
    .container h4 {
        border-top: 3px solid black;
        max-width: 75px;
        margin-top: 50px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 769px) {
    .author {
        display: flex;
        margin: 20px auto;
    }
}

@media screen and (min-width: 769px) {
    .author img {
        display: flex;
        margin-right: 12px;
        width: 100%;
        max-width: 60px;
        height: auto;
    }
}

@media screen and (min-width: 769px) {
    .banner img {
        width: 100%;
        max-width: 1000px;
        height: auto;
    }
}

@media only screen
  and (min-width: 481px)
  and (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media only screen
  and (min-width: 481px)
  and (max-width: 768px) {
    header img {
        height: 35px;
        width: auto;
        text-align: center;
        margin: 0 auto;
    }
}

@media only screen
  and (min-width: 481px)
  and (max-width: 768px) {
    header {
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
    }
}

@media only screen
  and (min-width: 481px)
  and (max-width: 768px) {
    footer {
        text-align: center;
        margin: 0 auto;
        margin-top: 70px;
    }
}

@media only screen
  and (min-width: 481px)
  and (max-width: 768px) {
    .container {
        justify-content: center;
        width: 700px;
        margin: 0 auto;
    }
}

@media only screen
  and (min-width: 481px)
  and (max-width: 768px) {
    .container h1 {
        margin: 10px auto;
    }
}

@media only screen
  and (min-width: 481px)
  and (max-width: 768px) {
    .container h4 {
        border-top: 2px solid black;
        max-width: 55px;
        margin-top: 50px;
        margin-bottom: 0;
    }
}

@media only screen
  and (min-width: 481px)
  and (max-width: 768px) {
    .author {
        display: flex;
        margin: 16px auto;
    }
}

@media only screen
  and (min-width: 481px)
  and (max-width: 768px) {
    .author img {
        display: flex;
        margin-right: 9px;
        width: 100%;
        max-width: 55px;
        height: auto;
    }
}

@media only screen
  and (min-width: 481px)
  and (max-width: 768px) {
    .banner img {
        width: 100%;
        max-width: 750px;
        height: auto;
    }
}

@media only screen
  and (max-width: 480px) {
    html {
        font-size: 8px;
    }
}

@media only screen
  and (max-width: 480px) {
    header img {
        height: 25px;
        width: auto;
        text-align: center;
        margin: 0 auto;
    }
}

@media only screen
  and (max-width: 480px) {
    header {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
}

@media only screen
  and (max-width: 480px) {
    footer {
        text-align: center;
        margin: 0 auto;
        margin-top: 50px;
    }
}

@media only screen
  and (max-width: 480px) {
    .container {
        justify-content: center;
        width: 320px;
        margin: 0 auto;
    }
}

@media only screen
  and (max-width: 480px) {
    .container h1 {
        margin: 6px auto;
    }
}

@media only screen
  and (max-width: 480px) {
    .container h4 {
        border-top: 1px solid black;
        max-width: 35px;
        margin-top: 35px;
        margin-bottom: 0;
    }
}

@media only screen
  and (max-width: 480px) {
    .author {
        display: flex;
        margin: 12px auto;
    }
}

@media only screen
  and (max-width: 480px) {
    .author img {
        display: flex;
        margin-right: 6px;
        width: 100%;
        max-width: 50px;
        height: auto;
    }
}

@media only screen
  and (max-width: 480px) {
    .banner img {
        width: 100%;
        max-width: 320px;
        height: auto;
    }
}

.author h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.author p {
    margin-top: 0;
}

.v-center {
    margin: auto;
}

.banner {
    text-align: center;
}

.p-font {
    font-family: Arial, Helvetica, Georgia;
}

.p-italic {
    font-style: italic;
}

.p-grey {
    color: #606060;
}