<div class="row justify-content-center">
<div class="col col-md-10 col-lg-8">
<ul class="topics custom-text-list feature-content-topic-list">
<li><a href="/topics/democracy/" class="table-content-link">Democracy</a></li>
<li><a href="/topics/gender/" class="table-content-link">Gender</a></li>
<li><a href="/topics/human-rights/" class="table-content-link">Human Rights</a></li>
</ul>
<h1>In Tunisia, a Legal Patchwork Is Failing Women Online</h1>
<h2></h2>
<div class="custom-text-list authors">
<a class="block-author" href="/people/sodfa-daaji/">Sodfa Daaji</a>
<a class="block-author" href="/people/hela-ben-salem/">Hela Ben Salem</a>
</div>
<div class="date">May 24, 2021</div>
<ul class="social-share-list ">
<li class="facebook">
<a class="facebook-share-link fa-stack" data-url="https://www.cigionline.org/articles/tunisia-legal-patchwork-failing-women-online">
<i class="fas fa-circle fa-stack-2x"></i>
<i class="fab fa-facebook-f fa-stack-1x icon"></i>
</a>
</li>
<li class="twitter">
<a class="twitter-share-link fa-stack" href="https://twitter.com/share?text=In+Tunisia,+a+Legal+Patchwork+Is+Failing+Women+Online&amp;url=https://www.cigionline.org/articles/tunisia-legal-patchwork-failing-women-online">
<i class="fas fa-circle fa-stack-2x"></i>
<i class="fab fa-twitter fa-stack-1x icon"></i>
</a>
</li>
<li class="linkedin">
<a class="linkedin-share-link fa-stack" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.cigionline.org/articles/tunisia-legal-patchwork-failing-women-online&amp;title=In+Tunisia,+a+Legal+Patchwork+Is+Failing+Women+Online">
<i class="fas fa-circle fa-stack-2x"></i>
<i class="fab fa-linkedin-in fa-stack-1x icon"></i>
</a>
</li>
</ul>
</div>
</div>